/*
    color-code: #0674ec;
    color: Blue;
*/

::selection{
    background: #0674ec;
}
::-moz-selection{
     background: #0674ec;
}

/*background image*/
.feature-color-2{
	background: linear-gradient(rgba(6, 116, 236, 0.9),rgba(6, 116, 236, 0.9)),url('../images/bg-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
}
.feature-color-4{
	background: linear-gradient(rgba(6, 116, 236, 0.9),rgba(6, 116, 236, 0.9)),url('../images/bg-5.jpg');
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
}

/*background*/
.single-features.active,
.right-search-box button.search-button:hover,
.facilities-box,
.bussiness-contact-form .bussiness-btn-larg:before,
.bussiness-contact-form a.bussiness-btn-larg:before,
.single-address i:hover,
.business-timeline a.timeline-btn:hover,
.company-boucher a:hover,
.video i:hover,
.backtotop:hover,
.footer-info-right ul li:hover,
.hovereffect4,
.single-bolg a.read-more:hover,
.single-about-business,
.single-features-overlay:hover,
.single-features:hover,
.bussiness-btn-larg,
a.bussiness-btn-larg{
    background: #0674ec;
}

/*color*/
.top-menu-2 .media i,
.top-menu-2x-custom .top-menu-2 .media i,
.top-menu-5x .top-menu-2 .media i,
.top-menu-left-4 i,
.dark-main-menu .business-cart .container-2:hover i,
.dark-main-menu .business-cart .container-2:focus-within i,
.container-width-menu .business-cart .container-2:hover i,
.container-width-menu .business-cart .container-2:focus-within i,
.video i,
.about-us-slider-content i,
.single-team-feature .media-body h3,
.pricing-top span,
blockquote:before,
.single-counter span,
.business-timeline .timeline li .timeline-badge > a:hover,
.business-timeline .timeline li:hover .timeline-badge > a,
.single-latest-product .media-body h4,
.single-latest-product .media-body a:hover,
.blog-post-next a:hover,
.blog-post-previous a:hover,
.blog-post-tag ul li a:hover,
.job-table td a:hover,
.single-faq .card-header a:hover,
.single-testimonal:before,
.single-partner a:hover,
.timeline-body:hover h4,
.aboutus-slider-footer h3,
.right-menubar ul li a:hover,
.right-menubar ul li.active,
.right-menubar ul li:hover,
.single-service-center:hover a,
.top-menu-right-3 a:hover,
.top-menu-right-3 i,
.top-menu-left-3 i,
.business-footer-content-2 .footer-info-left a:hover,
.business-footer-content-2 .footer-info-right ul li a:hover,
.business-footer-address-left ul li a:hover,
.single-app-present .media:hover i,
.business-service-2x a:hover,
.testimonial-slider-content h3,
.footer-info-left a:hover,
.bussiness-footer-content ul li a:hover,
.bussiness-footer-address i,
.blog-content i,
.blog-content a:hover,
.team-members-right h3,
.team-members-right a:hover,
span.item-desc a:hover,
.single-services:hover a,
.btco-hover-menu .collapse ul > li:hover > a,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .active>.nav-link,
.top-menu-left i{
    color: #0674ec;
}

/*background color*/
.spinner7 > div,
.spinner6 > div,
.cube1, .cube2,
.spinner4,
.dot1, .dot2,
.container1 > div, .container2 > div, .container3 > div,
.double-bounce1, .double-bounce2,
.simplefilter li.active,
.portfolio-1x  .simplefilter li.active{
    background-color: #0674ec;
}

.title-border-left:after,
.title-border-middle:after,
.animatedhover:hover {
	border: 2px solid #0674ec;
}
.promotion-box {
     border-left: 3px solid #0674ec;
}
.right-menubar ul li.active,
.right-menubar ul li:hover{
    border-left: 4px solid #0674ec;
}

.single-address i:hover{
    box-shadow: 0px 0px 0px 3px #0674ec;
}
.business-timeline .timeline li:hover .timeline-panel::before,
.business-timeline .timeline li:hover .timeline-panel{
	border-color:#0674ec;
}
/* border 3px */
.single-app-present:hover .animatedhover{
    border: 3px solid #0674ec;
}
.portfolio-slider-content .hvrbox .hvrbox-layer_top,
.business-service-2x .hvrbox .hvrbox-layer_top{
    background: rgba(6, 116, 236, 0.9);
}
.comming-soon-banner .hvrbox .hvrbox-layer_top,
.fullheight-banner .hvrbox .hvrbox-layer_top{
    background: rgba(60, 201, 81, 0.7);
}
